@tailwind base;
@tailwind components;
@tailwind utilities;

/* FIAP Bank tokens */
:root {
  --fiap-pink: #e6007e;
  --bg: #ffffff;
  --text: #0b0b0b;
  --card: #ffffff;
}

/* Base */
html, body, #__next { height: 100%; }
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: linear-gradient(180deg, #fff, #fafafa);
  color: var(--text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container { max-width: 1100px; margin: 0 auto; padding: 1rem; }

.btn { @apply rounded-lg font-semibold transition; }

.fiap-pink {
  background:  #e6007e;
  border: 1px solid color-mix(in srgb, var(--fiap-pink) 35%, transparent);
}

.bg-fiap-gradient {
  background:
    radial-gradient(circle at top, rgba(230, 0, 126, 0.9) 0%, rgba(11, 11, 11, 1) 65%),
    linear-gradient(180deg, rgba(11, 11, 11, 1) 0%, rgba(0, 0, 0, 1) 100%);
}


